* {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #444444;
}


.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #265a88;
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
  font-size: 65px;
  font-weight: bold;
  color: #2f71aa;
}


#slogan {
  font-size: 15px;
  font-style: italic;
  color: #9d9d9d;
  text-align: center;
}

footer {
  margin-top: 10%;
  text-align: center;
  color: black;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }

}