<% include header2 %>

		<main class="wrapper">
		

		<div class="container">
			<div id="filmsList">
				<div class="film" id="film">
					<!-- <li> -->
						<div class="image-container">
							<!-- <img class="image" src=""/> -->
							<div class="text">
								<span class="title"></span>
							</div>
						</div>
					<!-- </li>	 -->
				</div>	
			</div>
			
		</div>			
		</main>


		<script type="text/javascript">

				var socket = io.connect('http://localhost:8080');
		    	socket.on('connect', function() {
		    		console.log("YO")
			        socket.emit('getFilmsList', {id: socket.id});

			        socket.on('browseFilmsList', function(data){
		    			console.log("YEAH")
						var filmsList = data.filmsList;
						console.log(filmsList.length)

						if (filmsList.movieDatas) {
							var poster = filmsList.movieDatas.poster;
							if ((poster.slice(0, 4) == "http")) {
								if ($("#film").find('span').text() == '') {
									$("#film").find('.image-container').css('backgroundImage', 'url("'+filmsList.movieDatas.poster+'")');
									$("#film").find('.image-container').css('background-repeat', 'round');
									$("#film").find('span').text(filmsList.movieDatas.title);
									$('#filmsList').append($("#film"));
								}
								else {
									var clone = $("#film").clone();
									clone.find('.image-container').css('backgroundImage', 'url("'+filmsList.movieDatas.poster+'")');
									clone.find('.image-container').css('background-repeat', 'round');
									clone.find('span').text(filmsList.movieDatas.title);
									$('#filmsList').append(clone);
								}
							}
							else {
								console.log("NOPIC: "+filmsList.movieDatas.title)
							}
						}
						else {
							console.log("NOIMDB: "+filmsList.name)
						}

						$(document).ready(function() {
							var win = $(window);
							win.data('ajaxready', true);
							// $('#filmsList').append('<div id="loader"><img src="/img/ajax-loader.gif" alt="loader ajax"></div>');

							// Each time the user scrolls
							win.scroll(function() {
								if (win.data('ajaxready') == false) return;
								// End of the document reached?
								if ($(document).height() - win.height() == win.scrollTop()) {
									win.data('ajaxready', false);
									$('#filmsList #loader').fadeIn(400);
									socket.emit('getMoreFilms', {id: socket.id});

									
								}
							});
						});


						// for (var i = 0; i < filmsList.length; i++) {
						// 	if (filmsList[i].movieDatas) {
						// 		var poster = filmsList[i].movieDatas.poster;
						// 		if ((poster.slice(0, 4) == "http")) {
						// 			if (i === 0) {
						// 				// $("#film").find('.image').attr('src', filmsList[i].movieDatas.poster);
						// 				$("#film").find('.image-container').css('backgroundImage', 'url("'+filmsList[i].movieDatas.poster+'")');
						// 				$("#film").find('.image-container').css('background-repeat', 'round');
						// 				$("#film").find('span').text(filmsList[i].movieDatas.title);
						// 				$('#filmsList').append($("#film"));
						// 			}
						// 			else {
						// 				var clone = $("#film").clone();
						// 				// clone.find('.image').attr('src', filmsList[i].movieDatas.poster);
						// 				clone.find('.image-container').css('backgroundImage', 'url("'+filmsList[i].movieDatas.poster+'")');
						// 				clone.find('.image-container').css('background-repeat', 'round');
						// 				clone.find('span').text(filmsList[i].movieDatas.title);
						// 				$('#filmsList').append(clone);
						// 			}
						// 		}
						// 		else {
						// 			console.log("NOPIC: "+filmsList[i].movieDatas.title)
						// 		}
						// 	}
						// 	else {
						// 		console.log("NOIMDB: "+filmsList[i].name)
						// 	}
						// }
					});
		    	});
		</script>

<%include footer %>