<% include header2 %>

		<main class="wrapper">
		

		<div class="container">
			<ul id="filmsList">
				<div class="film" id="film">
					<li>
						<div class="image-container">
							<!-- <img class="image" src=""/> -->
							<div class="text">
								<span class="title"></span>
							</div>
						</div>
					</li>	
				</div>	
			</ul>
			
		</div>			
		</main>


		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">

				var socket = io.connect('http://localhost:8080');
		    	socket.on('connect', function() {
			        socket.emit('getFilmsList', {id: socket.id});

			        socket.on('browseFilmsList', function(data){
						var filmsList = data.filmsList;
						for (var i = 0; i < filmsList.length; i++) {
							if (filmsList[i].movieDatas) {
								if (i === 0) {
									// $("#film").find('.image').attr('src', filmsList[i].movieDatas.poster);
									$("#film").find('.image-container').css('backgroundImage', 'url("'+filmsList[i].movieDatas.poster+') no-repeat;"');
									$("#film").find('.image-container').css('background-repeat', 'round');
									$("#film").find('span').text(filmsList[i].movieDatas.title);
									$('#filmsList').append($("#film"));
								}
								else {
									var clone = $("#film").clone();
									// clone.find('.image').attr('src', filmsList[i].movieDatas.poster);
									clone.find('.image-container').css('backgroundImage', 'url("'+filmsList[i].movieDatas.poster+') no-repeat;"');
									clone.find('.image-container').css('background-repeat', 'round');
									clone.find('span').text(filmsList[i].movieDatas.title);
									$('#filmsList').append(clone);
								}
							}
						}
					});
		    	});
		</script>

<%include footer %>