<% include header2 %>

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
	      		<a href="/connexion">
	      			<button id="connection-btn1" type="button" class="btn btn-info">Connection</button>
	      		</a>
	    	</div>
		    <hr>
		    <div class="form-group">
		      	<a href="/inscription">
		      		<button id="inscription-btn1" type="button" class="btn btn-info">Inscription</button>
		      	</a>
		    </div>
		    <hr>
		    <div class="form-group">
		      	<a href="/home">
		      		<button id="home-btn1" type="button" class="btn btn-info">Home</button>
		      	</a>
		    </div>
		</div>
</div>

		<main class="wrapper">
		

		<div class="container">
			<ul id="filmsList">
				
			</ul>
			
		</div>			
		</main>


		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">

				var socket = io.connect('http://localhost:8080');
		    	socket.on('connect', function() {
			        
		    	});
		</script>

<%include footer %>