<% include header2 %>

	<div class="container">
		 <div>
      		<a href="/connexion">
      			<button type="button" class="btn btn-info">Connection</button>
      		</a>
    	</div>
    <hr>
    <div>
      	<a href="/inscription">
      		<button type="button" class="btn btn-info">Inscription</button>
      	</a>
    </div>
    <hr>
    <div>
      	<a href="/home">
      		<button type="button" class="btn btn-info">Home</button>
      	</a>
    </div>
</div>

		<main class="wrapper">
		

		<div class="container">
			<ul id="filmsList">
				
			</ul>
			
		</div>			
		</main>


		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">

				var socket = io.connect('http://localhost:8080');
		    	socket.on('connect', function() {
			        
		    	});
		</script>

<%include footer %>