<% include header2 %>
<link rel="stylesheet" type="text/css" href="../../stylesheets/profile_cards.css">

<main class="wrapper">
    <div class="container">


	    <div class="col-sm-3" id="userLogin%>">
	        <div class="card">
	            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
	            <div class="avatar">
	                <img src="" alt=""/>
	            </div>
	            <div class="content">
	                <h3>userLogin</h3>
	               	<p> userFirstname,  userLastname </p>
	            </div>
	        </div>
	    </div>
	    <img class="src-image"  src="img/42.png"/>
		    
	</div>

</main>
<script src="profile_cards.js" ></script>  

<%include footer %>