<% include header2 %>

<main class="wrapper">
    <div class="container" id="profileList">


		    
	</div>

</main>
<script type="text/javascript">
	console.log('<%=movie%>')
</script>


<%include footer %>